
.hero {
  padding: 5.6vw;
  margin-top: 8px;
  min-height: 80vh;
  background-image: url(../images/ingmar-bergman.avif);
  text-align: center;
  background-size: cover;

  @media (max-width: 768px) {
    padding: 0;
    padding-top: calc(50vw);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 0;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &__quote {
    font-size: 32px;
    display: flex;
    width: 50%;
        
    mark {
      background-color: rgba(#fff, 0.5);
    }

    @media (max-width: 768px) {
      font-size: 16px;
      width: 100%;
    }
  }
}