
.hero {
  padding: 5.6vw;
  margin-top: 8px;
  min-height: 80vh;
  background-image: url(../images/ingmar-bergman.avif);
  text-align: center;
  background-size: cover;

  @media (max-width: 768px) {
    padding-top: calc(50vw + 25px);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &__quote {
    font-size: 32px;
    display: flex;
    width: 50%;
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
}