@use 'colors';
@use 'hero';
@use 'about';
@use 'header';
@use 'filmography';
@use 'footer';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: colors.$bgColor;
}

li {
  list-style: none;

  a {
    text-decoration: none;
    color: colors.$primaryTextColor;
  }
}

h1, h2 {
  color: colors.$primaryTextColor;
}

.section-title {
  text-align: center;
  padding: 32px 0;
  text-transform: uppercase;
}